<table class="table table-hover table-striped table-sortable text-center mt-4">
  <thead>
    <tr class="text-left table-header">
      <th *ngFor="let column of columns" [class]="selectedClass(column.variable)" (click)="changeSorting(column.variable)">
        {{column.display}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let object of data | orderBy : convertSorting()">
      <td *ngFor="let column of columns">

        <ng-container *ngIf="(column.variable === 'Actions'); then editColumn; else averageColumn">
        </ng-container>

        <ng-template #averageColumn><!--fill roles options row-->
            <div *ngIf="(column.variable === 'Options');else average_content">
                <div *ngFor="let item of object.Options">{{item}}</div>
               <!-- <div>{{object.Options | split_and_get_one_of_them:'-':'GBU' }}</div>
                <div>{{object.Options | split_and_get_one_of_them:'-':'REGION' }}</div>
                <div>{{object.Options | split_and_get_one_of_them:'-':'COGS' }}</div>-->
            </div>

            <ng-template #average_content><!--fill simple for all tables row-->
                <div>
                    {{object[column.variable] | format : column.filter}}
                </div>
            </ng-template>            
        </ng-template>
        
        <ng-template #editColumn> <!--edit columns we have to fill by buttons-->
            <div *ngIf="object.USERNAME" class="table-buttons"> <!--condition for users table-->
		<div>
                    <img src="assets/img/edit-icon.png"  alt="" class="user-img  my-2" (click)="userInput(object)"/>
                         <!--[routerLink]="['/createUser', 'edit', object.USERID, {name: object.USERNAME}]"/>-->
                    <img src="assets/img/Close.png" alt="" class="my-2 ml-2 float-right"
                         mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="right"
                        (confirm)="deleteItem(object)" (cancel)="cancelClicked = true"/>
                </div>
            </div>
            <!--condition for roles table-->
            <div *ngIf="object.Options" class="table-buttons">
                    <img src="assets/img/edit-icon.png"  alt="" class="user-img  my-2" (click)="roleInput(object)"/>
                         <!-- [routerLink]="['/createRole', 'edit', object.Rolename, {options: object.Options, rolename: object.Rolename}]"/>-->
                    <img src="assets/img/Close.png" alt="" class="my-2 ml-2 float-right"
                        mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="right"
                        (confirm)="deleteItem(object)" (cancel)="cancelClicked = true"/>
            </div>
        </ng-template>
      </td>
    </tr>
  </tbody>
</table>

<!--{{funfor("hey")}}-->