td {
    border: 0.001rem solid  silver;
}

table {
    margin-right: 0.5%;
    margin-left: 0.5%;
    width: 99%;
}

th:first-child {
    width: 2.6rem;
}

th {
    color: white;
    font-family: Roboto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.table-header {
    background-color: #6e8298;
}

.table-buttons {
    width: 2.3rem;
}

