<div class="modal" tabindex="-1" role="dialog"  [ngStyle]="{'display':display}">
  <!-- modal-dialog -->
  <div class="modal-dialog" role="document">
    <!-- modal-content -->
    <div class="modal-content">
      <!-- modal-header -->
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" (click)="closeModalDialog()"><span aria-hidden="true">&times;</span></button>
        <!-- <h4 class="modal-title">Login</h4> -->
      </div>

      <!-- modal-body -->
      <div class="modal-body">
       <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="textbox" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div>
            </div>      
            <div>
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="textbox" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div>
            </div>
            <div>
                <input type="submit" class="btn btn-info btn-lg" value="LogIn">
            </div>
           <!-- <div>
                <p>EmailId Is  - {{emailId}} and Password is - {{password}}</p>
            </div>-->
        </form>
      </div>

      <!-- modal-footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-default" (click)="closeModalDialog()" >Close</button>
      </div>
    </div>
  </div>
</div>