.ng-valid[required], .ng-valid.required  {
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-left: 10px solid rgb(218, 200, 43); /* yellow */
}

.ng-invalid:not(form)  {
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-bottom: 0.2rem solid #e94646; /* red */
}

.backdrop {
    background-color:rgba(0,0,0,0.6);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100vh;
}

h6 {
    color: white;
}

.textbox {
    width: 20rem;
    border-radius: 0.3rem;
    box-shadow:0 0 0.2rem #0000cc inset;
}

.close {
    color: #ffffff;
}
