/* You can add global styles to this file, and also import other style files */
.color-class {
    background-color: #006eb5;
}

.button-color {
    background-color: rgba(0, 162, 143, 0.8);
    color: #ffffff;
    border: solid 1px #eeeeee;
}

.button-cancel {
    background-color: #ffffff;
    color: rgba(0, 162, 143, 0.8);
    border: solid 1px #00a28f;
}

.color-text {
    color: darkturquoise;
}

.role-name {
    background-color: aquamarine;
}

.button-aqua { 
    border-radius: 0.4rem;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    text-align: left;
    background-color: darkturquoise;
    color: #fff7f8;
    padding-top: 0rem;
}

.button-halt { 
    border-radius: 0.4rem;
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
    text-align: left;
    background-color: #dc3545;
    color: #fff7f8;
    padding-top: 0rem;
}

.header-color {
  box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5);
  background-image:
    linear-gradient(
      to top right, 
      #006eb5, #004069
    );
}

.header-color-without-shadow {
  background-image:
    linear-gradient(
      to top right, 
      #006eb5, #004069
    );
}

.table-footer-color {
  box-shadow: 0.1em 0.1em 1px rgba(122,122,122,0.5);
  background-image:
    linear-gradient(
      to top right, 
      #DCDCDC, #E6E6FA
    );
}

.text-headers-color {
    color: #ffffff;
}

.text-links-color {
    color: #323232;
}
