.title {
    background-color: darkturquoise;
    height: 6.4rem;
}

h5 {
    padding-top: 2.5rem;
}

.btn {
    background-color: darkturquoise;
}

.button-gohome {    
    text-align: left;
}

label {
    color: darkturquoise;
}

:host /deep/ .dropdown-list[_ngcontent-c1] {
    background-color: Aquamarine;
}