<div id="maindiv" class="m-2 shadow pb-4 rounded">
    <div class="title">
	<h5 class="pl-5 font-weight-bold text-light">{{title}}</h5> <span class="close"></span>
    </div>

  
        <form class="m-5" novalidate #form="ngForm" (ngSubmit)="submitForm(form)" (reset)="resetForm()">
              
            <button type="button" (click)="toggleDisable()" class="btn float-right btn-outline-dark mr-1">
                    Find User
            </button>

            <div class="form-group row input-user-form">              
                <label for="username" class="col-sm-2 col-form-label">USERNAME</label>
                <div class="col-sm-9 ml-4">
                    <input class="form-control" id="name" name="username"
                           [(ngModel)]="user.USERNAME" required>
                </div>                
            </div>

           
            <div class="form-group row input-user-form">              
                <label for="userid" class="col-sm-2 col-form-label">USERID</label>
                <div class="col-sm-10">
                    <input [disabled]='disableForm' class="form-control" id="name"  name="userid"
                           [(ngModel)]="user.USERID" required>
                </div>
            </div>
              
            <div class="form-group row input-user-form">              
                <label for="ntsid" class="col-sm-2 col-form-label">NTSID</label>
                <div class="col-sm-10">
                    <input [disabled]='disableForm' class="form-control" id="name"  name="ntsid"
                           [(ngModel)]="user.NTSID" required>
                </div>
            </div>
              
            <div class="form-group row input-user-form">              
                <label for="ntdomainsid" class="col-sm-2 col-form-label">NTDOMAINSID</label>
                <div class="col-sm-10">
                    <input [disabled]='disableForm' class="form-control" id="name"  name="ntdomainsid"
                           [(ngModel)]="user.NTDOMAINSID" required>
                </div>
            </div>
              
            <div class="form-group row">
                <label for="multiselectCogs" class="col-sm-2 col-form-label">Role</label>
                <div class="col-sm-10">
                    <ng-multiselect-dropdown id="multiselectCogs" class="mt-3" [placeholder]="ALL" [data]="rolesDropdownList" 
                                             [disabled]='disableForm' [(ngModel)]="selectedRolesItems" [ngModelOptions]="{standalone: true}"
                                             [settings]="dropdownSettings" (onSelect)="onItemSelect($event)" (onSelectAll)="onSelectAll($event)">
                    </ng-multiselect-dropdown>
                </div>
            </div>

            <button type="button" [disabled]='disableForm' (click)="submitForm(form)" class="btn btn-outline-dark ml-1 mt-5" routerLink="/">
                Send
            </button>
            
</form>

</div>


    <div class="button-home m-2 shadow mt-4">
        <button type="reset" (click)="resetForm()" class="button-gohome btn btn-block btn-outline-dark h-100 py-3">
        To homepage
        </button>
    </div>