:host ::ng-deep  .tooltip-inner {
    background-color: #eeeeee;
}

:host ::ng-deep .arrow::before {
    border-right-color: #eeeeee;
}

.button-link {
    font-family: Roboto;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
}

.users-link {
    margin-top: 4.3rem;
    margin-left: 2.6rem;
}

.roles-link {
    margin-top: 3rem;
    margin-left: 2.6rem;
}

.info-popuver {    
    color: #323232;
    font-family: Asap;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
}

.tcontent {
    margin-left: 0.3rem;
}

#folders-image {
    position: relative;
}
#folders-image {
    position: absolute;
    bottom: 0rem;
    right: 0rem;
}