<app-header [title]="title"></app-header>
    <div [ngStyle]="{'color': errorMessage === 'error message' ? '#FFFFFF' : 'red'}" class="error-message">
        {{errorMessage}}
    </div>
<div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <div class="titles-link" *ngFor="let dict of dictionariesTypes; let i = index">
                <a href="javascript:void(0);" class="button-link text-links-color" [routerLink]="['showRoles', dict]" [ngbTooltip]="UsersTooltip" placement="right"
                    >{{dict}}</a>
                <ng-template #UsersTooltip>
                    <div class="info-popuver"> 
                        <div class="tcontent">In this directory you can find list of
                        all {{dict}} with their info. You can
                        search, edit {{dict}} and create new
                        ones.</div>                            
                    </div>
                </ng-template>
            </div>
        </div>       
        <div id="folders-image">
            <img src="assets/img/Folders-bloor.png"  alt="assets/img/Folders.png" class="user-img float-right mr-1 mt-1"/>
        </div>
    </div>
</div>
