<div class="button-home m-1 mt-4">
    <button type="reset" (click)="resetForm()" class="button-gohome btn btn-outline-dark h-100 py-3 mb-5 col-4">
        To homepage
    </button>
    <button routerLink="/createRole" class="button-gohome btn btn-outline-dark ml-3 h-100 py-3 mb-5 col-4">
        Create Role
    </button>
</div>

<table class="table table-hover text-center ml-1">
    <thead>
        <tr>
		<th>Options</th>
		<th>Role</th>
                <th></th>
	</tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of getItems()">
            <td><div class="my-1">ACCESS: {{item.ACCESS}}</div>
                <div class="my-1">GBU: {{item.GBU}}</div>
                <div class="my-1">REGION: {{item.REGION}}</div>
                <div class="my-1">COGS: {{item.COGS}}</div>
            </td>
            <td><div class="my-3">{{item.ROLENAME}}</div></td>
            <td>
		<button class="btn button-gohome btn-outline-secondary my-2" 
			[routerLink]="['/createRole', 'edit', item.ROLENAME,
                    {access: item.ACCESS, gbu: item.GBU, region: item.REGION, cogs: item.COGS, rolename: item.ROLENAME}]">
        		Edit
    		</button>
		<button class="btn btn-danger my-2 ml-2" (click)="deleteItem(item)">
        		Delete
    		</button>
	    </td>
        </tr>         
    </tbody>
</table>
