input.ng-dirty.ng-invalid { border: 2px solid #ff0000 }
input.ng-dirty.ng-valid { border: 2px solid #6bc502 }

.close {
position: absolute;
right: 92px;
top: 40px;
width: 24px;
height: 24px;
opacity: 0.3;
}
.close:hover {
opacity: 1;
}
.close:before, .close:after {
position: absolute;
left: 15px;
content: ' ';
height: 33px;
width: 2px;
background-color: #333;
}
.close:before {
transform: rotate(45deg);
}
.close:after {
transform: rotate(-45deg);
}

:host /deep/ .multiselect-dropdown[_ngcontent-c1]  {
    background-color: Aquamarine;
}

:host /deep/ .dropdown-list[_ngcontent-c2] {
    background-color: Aquamarine;
}

.role-name {
    background-color: aquamarine;
}

#maindiv {
    background-color: darkturquoise;
}

@media (min-width: 576px) {
	#maindiv {            
            padding: 3rem;
        }
}

@media (min-width: 300px) {
	#maindiv {            
            padding: 0.5rem;
        }
}

@media (max-width: 380px) {
    .btn {
        width: 3rem;
        font-size: 0.75rem;
        padding-left: 0.3rem;
    }
}

@media (max-width: 340px) {
    .btn {
        width: 2.5rem;
        font-size: 0.75rem;
        padding-left: 0.1rem;
    }
}