<div class="button-home m-1 mt-4">
    <button type="reset" (click)="resetForm()" class="button-gohome btn btn-outline-dark h-100 py-3 mb-5 col-4">
        To homepage
    </button>
    <button routerLink="/createUser" class="button-gohome btn btn-outline-dark ml-3 h-100 py-3 mb-5 col-4">
        Create User
    </button>
</div>

<table class="table table-hover text-center ml-1">
    <thead>
        <tr>
		<th>USERID</th>
		<th>USERNAME</th>
                <th>NTSID</th>
                <th>Role</th>
                <th></th>
	</tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of getItems()">
            <td><div class="my-3">{{item.USERID}}</div></td>
            <td><div class="my-3">{{item.USERNAME}}</div></td>
            <td><div class="my-3">{{item.NTSID}}</div></td>
	    <td><div class="my-3">{{item.ROLES}}</div></td>
            <td>
		<button class="btn button-gohome btn-outline-secondary my-2" 
			[routerLink]="['/createUser', 'edit', item.USERID,
                    {name: item.USERNAME}]">
        		Edit
    		</button>
		<button class="btn btn-danger my-2 ml-2"  mwlConfirmationPopover [popoverTitle]="popoverTitle" [popoverMessage]="popoverMessage" placement="left"
                    (confirm)="deleteItem(item)" (cancel)="cancelClicked = true">
                        Delete
                </button>
	    </td>
        </tr>         
    </tbody>
</table>
