<app-header [title]="title"></app-header>

<div class="to-homepage">
    <a href="javascript:void(0);" (click)="resetForm()">&lt; - Back to Home</a>
</div>

<div class="button-home">
    <input type="text" id="searchInput" placeholder="Search User">
        
    <button routerLink="/createUser" class="create-button">
        Create User
    </button>
    
    <select type="number" class="select-items" [(ngModel)]="selectedLevelCustomCompare" [compareWith]="compareFn">
      <option *ngFor="let level of levels" [ngValue]="level">{{level.name}}</option>
    </select>
</div>

<tabs>
  <tab [tabTitle]="'Title 1'">
      <div class="line ml-2"></div>
      <table-sortable
        [columns]="userColumns"
	[data]="userRows"
	[sort]="userSorting">
        Loading table...
      </table-sortable>    
  </tab>
  <tab tabTitle="Title 2">
      <div class="line" style="margin-left: 4rem"></div>
      <table-sortable
        [columns]="roleColumns"
	[data]="roleRows"
	[sort]="roleSorting">
        Loading table...
      </table-sortable>
  </tab>
</tabs>

